In [21]:
!curl -L -o train.tar.gz https://www.dropbox.com/s/5jv7glyhgzps768/train.tar.gz?dl=0

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  1034    0  1034    0     0    989      0 --:--:--  0:00:01 --:--:--     0
100 15.2M  100 15.2M    0     0  9814k      0  0:00:01  0:00:01 --:--:-- 9814k

In [23]:
!tar -xzvf train.tar.gz

train.csv

In [31]:
!pwd

/datadisk/work/blazing_poc/conduit_blazing_demo

In [24]:
import os
import sys
import psutil
import pyarrow.parquet as pq
import time
import cudf
import subprocess
from subprocess import Popen, PIPE
from blazingsql import BlazingContext
import numpy as np
import pandas as pd

In [30]:

INPUT_FOLDER=os.getcwd()
print(INPUT_FOLDER)

bc = BlazingContext(allocator="managed", #default
                        pool=False, #true
                        initial_pool_size=None,
                        enable_logging=False)

/datadisk/work/blazing_poc/conduit_blazing_demo
BlazingContext ready

Read everything in cudf - dataframes backed by gpu

*Read from cudf all the data*

In [32]:

train_df=cudf.read_csv(os.path.join(INPUT_FOLDER,"train.csv"))
train_df.to_parquet(os.path.join(INPUT_FOLDER,"train.parquet"))

**Here we create the tables in blazing**

In [33]:

bc.create_table("train",[os.path.join(INPUT_FOLDER,"train.parquet")])
bc.create_table("traincu",train_df)

file /datadisk/work/blazing_poc/conduit_blazing_demo/train.parquet

In [34]:
bc.sql("select count(*) from train")

   COUNT(*)
0   1999999

In [35]:
bc.sql("select count(*) from traincu")

   COUNT(*)
0   1999999

In [36]:
bc.sql("select * from train limit 10")

,Unnamed: 0,week,sales_depot_id,sales_channel_id,route_id,client_id,product_id,sales_week_units,sales_value,return_units_next_week,returns_value_next_week,demand
0,0,3,1130,1,1217,15766,1212,3,25.14,0,0.0,3
1,1,3,1130,1,1217,15766,1216,4,33.52,0,0.0,4
2,2,3,1130,1,1217,15766,1238,4,39.32,0,0.0,4
3,3,3,1130,1,1217,15766,1240,4,33.52,0,0.0,4
4,4,3,1130,1,1217,15766,1242,3,22.92,0,0.0,3
5,5,3,1130,1,1217,15766,1250,5,38.20,0,0.0,5
6,6,3,1130,1,1217,15766,1309,3,20.28,0,0.0,3
7,7,3,1130,1,1217,15766,3894,6,56.10,0,0.0,6
8,8,3,1130,1,1217,15766,4085,4,24.60,0,0.0,4
9,9,3,1130,1,1217,15766,5310,6,31.68,0,0.0,6

In [37]:
bc.sql("select * from traincu limit 10")

,Unnamed: 0,week,sales_depot_id,sales_channel_id,route_id,client_id,product_id,sales_week_units,sales_value,return_units_next_week,returns_value_next_week,demand
0,0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3
5,5,3,1110,7,3301,15766,1250,5,38.20,0,0.0,5
6,6,3,1110,7,3301,15766,1309,3,20.28,0,0.0,3
7,7,3,1110,7,3301,15766,3894,6,56.10,0,0.0,6
8,8,3,1110,7,3301,15766,4085,4,24.60,0,0.0,4
9,9,3,1110,7,3301,15766,5310,6,31.68,0,0.0,6

In [38]:
res = bc.sql("select sales_depot_id,count(distinct route_id) as feat_sales_depot_id_cnt_route_id from train group by sales_depot_id order by feat_sales_depot_id_cnt_route_id desc")
res

   sales_depot_id  feat_sales_depot_id_cnt_route_id
0            1119                               406
1            1123                               194
2            1121                               132
3            1126                               130
4            1142                               129
5            1116                               127
6            1114                               126
7            1122                               119
8            1111                               118
9            1127                               111
10           1129                               104
11           1124                                91
12           1112                                84
13           1118                                67
14           1113                                62
15           1117                                60
16           1120                                58
17           1212                                51
18           1211                                42
19           1150                                41
20           1130                                39
21           1110                                32
22           1143                                27
23           1152                                25
24           1146                                20
25           1153                                19
26           1210                                15
27           1147                                13
28           1213                                11
29           1173                                 9
30           1177                                 9
31           1176                                 8
32           1172                                 7
33           1140                                 3
34           1219                                 1
35           1171                                 1
36           null                                 0

In [39]:
res = bc.sql("select sales_depot_id,count(distinct route_id) as feat_sales_depot_id_cnt_route_id from traincu group by sales_depot_id order by feat_sales_depot_id_cnt_route_id desc")
res

    sales_depot_id  feat_sales_depot_id_cnt_route_id
0             1167                               195
1             1123                               194
2             1220                               165
3             1219                               158
4             1130                               145
5             1137                               138
6             1121                               135
7             1117                               133
8             1168                               131
9             1126                               130
10            1142                               129
11            1116                               127
12            1114                               126
13            1153                               124
14            1120                               123
15            1122                               119
16            1140                               119
17            1111                               118
18            1129                               104
19            1127                               103
20            1213                               102
21            1119                                96
22            1215                                91
23            1138                                91
24            1124                                88
25            1212                                88
26            1118                                87
27            1217                                85
28            1216                                85
29            1112                                84
30            1218                                69
31            1221                                69
32            1113                                62
33            1222                                59
34            1211                                42
35            1150                                41
36            1110                                30
37            1139                                29
38            1143                                27
39            1152                                25
40            1146                                20
41            1165                                16
42            1210                                15
43            1147                                13
44            1155                                12
45            1164                                12
46            1177                                 9
47            1173                                 9
48            1159                                 9
49            1176                                 8
50            1170                                 8
51            1172                                 7
52            1156                                 5
53            1171                                 3
54            1160                                 1

In [40]:
feature_table_name = "table1"
os.path.join(INPUT_FOLDER,feature_table_name+".parquet")

'/datadisk/work/blazing_poc/conduit_blazing_demo/table1.parquet'

In [41]:
feature_table_name = "table1"
feature_table_name_cu = "tablecu1"
res = bc.sql("select sales_depot_id,count(distinct route_id) as feat_sales_depot_id_cnt_route_id from train group by sales_depot_id order by feat_sales_depot_id_cnt_route_id desc")

res.to_parquet(os.path.join(INPUT_FOLDER,feature_table_name+".parquet"))
parquet_file=[os.path.join(INPUT_FOLDER,feature_table_name+".parquet")]
bc.create_table(feature_table_name,parquet_file)
print("[Parquet]Created:",feature_table_name)

bc.create_table(feature_table_name_cu,res)
print("[CUDF]Created:",feature_table_name_cu)

file /datadisk/work/blazing_poc/conduit_blazing_demo/table1.parquet
[Parquet]Created: table1
[CUDF]Created: tablecu1

In [42]:
bc.sql("select sales_depot_id,count(distinct client_id) as feat_sales_depot_id_cnt_client_id from train group by sales_depot_id order by feat_sales_depot_id_cnt_client_id desc")

   sales_depot_id  feat_sales_depot_id_cnt_client_id
0            1111                               9656
1            1127                               9209
2            1117                               8868
3            1126                               7323
4            1121                               7119
5            1116                               6957
6            1123                               6776
7            1124                               6251
8            1122                               6099
9            1119                               4317
10           1112                               3665
11           1118                               3243
12           1120                               2935
13           1113                               1895
14           1130                               1876
15           1110                               1263
16           1129                               1166
17           1114                                983
18           1143                                 36
19           1219                                 15
20           1213                                  8
21           1140                                  6
22           1142                                  4
23           null                                  0

In [43]:
feature_table_name = "table2"
feature_table_name_cu = "tablecu2"
res= bc.sql("select sales_depot_id,count(distinct client_id) as feat_sales_depot_id_cnt_client_id from train group by sales_depot_id order by feat_sales_depot_id_cnt_client_id desc")


res.to_parquet(os.path.join(INPUT_FOLDER,feature_table_name+".parquet"))
parquet_file=[os.path.join(INPUT_FOLDER,feature_table_name+".parquet")]
bc.create_table(feature_table_name,parquet_file)
print("[Parquet]Created:",feature_table_name)

bc.create_table(feature_table_name_cu,res)
print("[CUDF]Created:",feature_table_name_cu)

file /datadisk/work/blazing_poc/conduit_blazing_demo/table2.parquet
[Parquet]Created: table2
[CUDF]Created: tablecu2

In [44]:
#this is a join with a table created from cuda: traincu
query="""
select a.*,f0.feat_sales_depot_id_cnt_route_id,f1.feat_sales_depot_id_cnt_client_id from traincu a
JOIN table1 f0 on a.sales_depot_id=f0.sales_depot_id
JOIN table2 f1 on a.sales_depot_id=f1.sales_depot_id
"""
res = bc.sql(query)
print(res)

         Unnamed: 0  week  sales_depot_id  sales_channel_id  route_id  \
0              9632     3            1111                 1      1003
1              9633     3            1111                 1      1003
2              9634     3            1111                 1      1003
3              9635     3            1111                 1      1003
4              9636     3            1111                 1      1003
...             ...   ...             ...               ...       ...
1242837     1829854     3            1219                 1      4480
1242838     1829855     3            1219                 1      4480
1242839     1829792     3            1219                 1      4480
1242840     1829793     3            1219                 1      4480
1242841     1829794     3            1219                 1      4480

         client_id  product_id  sales_week_units  sales_value  \
0          1252829       46772                 4        35.68
1          1266222          73                 5       106.60
2          1266222        1109                31       465.31
3          1266222        1125                55       528.00
4          1266222        1129                 5        88.00
...            ...         ...               ...          ...
1242837     646175       43285                20       105.60
1242838     647807       34226                 6        51.36
1242839     499008       34226                10        85.60
1242840     499008       36598                 6        50.58
1242841     499008       40886                15        86.40

         return_units_next_week  returns_value_next_week  demand  \
0                             0                      0.0       4
1                             0                      0.0       5
2                             0                      0.0      31
3                             0                      0.0      55
4                             0                      0.0       5
...                         ...                      ...     ...
1242837                       0                      0.0      20
1242838                       0                      0.0       6
1242839                       0                      0.0      10
1242840                       0                      0.0       6
1242841                       0                      0.0      15

         feat_sales_depot_id_cnt_route_id  feat_sales_depot_id_cnt_client_id
0                                     118                               9656
1                                     118                               9656
2                                     118                               9656
3                                     118                               9656
4                                     118                               9656
...                                   ...                                ...
1242837                                 4                                 17
1242838                                 4                                 17
1242839                                 4                                 17
1242840                                 4                                 17
1242841                                 4                                 17

[1242842 rows x 14 columns]

In [45]:
#this is a join with a table created from parquet: train
query="""
select a.*,f0.feat_sales_depot_id_cnt_route_id,f1.feat_sales_depot_id_cnt_client_id from train a
JOIN table1 f0 on a.sales_depot_id=f0.sales_depot_id
JOIN table2 f1 on a.sales_depot_id=f1.sales_depot_id
"""
res = bc.sql(query)
print(res)

        Unnamed: 0  week sales_depot_id sales_channel_id route_id client_id  \
0            16736     3           1111                1     1017   1446507
1            16737     3           1111                1     1017   1446507
2            16738     3           1111                1     1017   1446507
3            16739     3           1111                1     1017   1446507
4            16740     3           1111                1     1017   1446507
...            ...   ...            ...              ...      ...       ...
1442823       null  null           null             null     null      null
1442824       null  null           null             null     null      null
1442825       null  null           null             null     null      null
1442826       null  null           null             null     null      null
1442827       null  null           null             null     null      null

        product_id sales_week_units sales_value return_units_next_week  \
0             1160                6      113.16                      3
1             1182               11      153.34                      0
2             2233                5        99.7                      1
3             2665                5        80.0                      0
4             3631                3       49.05                      1
...            ...              ...         ...                    ...
1442823       null             null        null                   null
1442824       null             null        null                   null
1442825       null             null        null                   null
1442826       null             null        null                   null
1442827       null             null        null                   null

        returns_value_next_week demand  feat_sales_depot_id_cnt_route_id  \
0                          13.5      6                               118
1                           0.0     11                               118
2                          6.76      5                               118
3                           0.0      5                               118
4                          3.75      3                               118
...                         ...    ...                               ...
1442823                    null   null                                 0
1442824                    null   null                                 0
1442825                    null   null                                 0
1442826                    null   null                                 0
1442827                    null   null                                 0

         feat_sales_depot_id_cnt_client_id
0                                     9656
1                                     9656
2                                     9656
3                                     9656
4                                     9656
...                                    ...
1442823                                  0
1442824                                  0
1442825                                  0
1442826                                  0
1442827                                  0

[1442828 rows x 14 columns]